.about {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;

  .description {
    width: 75%;
    text-align: justify;
  };
}
