.chat-layout {
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  height: 100%;

  .room-list {
    width: 100%;
    padding: 2rem;

    .list {
      width: 60%;
      margin: auto;
      //display: flex;
      //flex-direction: column;

      .room {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;
      }
    }
  }

  .current-room {
    //border: 3px solid black;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-input-wrapper {
      width: 90%;
      position: relative;
      display: flex;
      align-items: center;

      .message-text {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #000000;
        font-size: 1rem;
        color: #000000;
        resize: none;
        outline: none;
        max-height: 5rem;
        box-sizing: border-box;
        position: relative;

        &.editing {
          padding-right: 4rem;
        }

        &::placeholder {
          vertical-align: center;
          font-size: 1rem;
        }
      }

      .editing-buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 1rem;
      }
    }

    .send-message-button {
      width: 10%;
      position: relative;

      .send-message {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        color: $warm-orange-main;
        font-size: 2rem;

        &:focus {
          outline: none;
        }
      }
    }



    & .messages{
      overflow-y: scroll;
      overflow-x: hidden;
      scroll-behavior: smooth;
      margin: 2rem 0;
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }



}
