.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $ghost-white;
  padding: 0.5rem 3rem;

  .link-group, .hello {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
