.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $size24;
  height: $header-height;


  .chat-name {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    background-color: $navy-blue;
    font-size: $size20;
    color: white;
  }

  .right-part {
    border-bottom: 1px solid $soft-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;

    .chat-logo {
      width: 90%;
      text-align: center;
    }

    .chat-settings {
      margin-right: 0;
      height: 100%;
      display: flex;

      .button-wrapper {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-right: 1px solid $soft-gray;

        &:last-child {
          border-right: none;
        }

        span {
          cursor: pointer;
          color: $soft-gray;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

}
