.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $soft-green-light;
  padding: 0.5rem 3rem;

  h2 {
    color: $warm-orange-dark
  }

  .link-group, .hello {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
