.message-wrapper {
  position: relative;
  margin: 1rem 1.5rem 0;
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    width: 5%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .avatar {
      width: 60%;
      padding-bottom: 60%;
      background-position: center;
      background-size: cover;
      border-radius: 100%;
    }
  }

  .message-body {
    max-width: 50%;
    border-radius: 0.5rem;
    text-align: justify;
    padding: 0.5rem;
    margin-left: 2rem;
    text-overflow: ellipsis;
    position: relative;
    background: white;
    height: fit-content;

    &:before {
      content: '';
      position: absolute;
      top: 1.2rem;
      right: 100%;
      transform: translateY(-50%);
      border: 0.5rem solid transparent;
      border-right: 0.5rem solid white;
    }
  }

  .time-wrapper {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 0.7rem;

    .editing-time {
      margin-right: 0.5rem;
    }
  }

  &.is-current-user {
    //flex-direction: row-reverse;
    .message-body {
      background-color: $green-light;
      color: white;
      &:before {
        //left: 100%;
        //border-right: 0;
        //border-left: 0.5rem solid $green-light;
        border-right: 0.5rem solid $green-light;
      }
    }
    //.time-wrapper {
    //  left: 1rem;
    //  .editing-time {
    //    margin-left: 0.5rem;
    //    margin-right: 0;
    //  }
    //}
  }
}
