.profile {
  height: 100%;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;

  .avatar-zone {
    height: auto;
  }

  .input-group {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid transparent;
      padding: 0.5rem;

      &:Focus {
        border: 1px dashed $soft-green-dark;
      }
    }
  }
}
