.room-list {
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .room-creator-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-wrapper {
    position: relative;
    overflow-y: auto;
    max-height: 80%;
    padding: 0.5rem;

    .list {
      height: 100%;
    }
  }
}
