html {
  height: 100%;
}

body {
  font-size: $size14;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
  }
}

input:focus {
  outline: none;
}

a {
  text-align: center;
  padding: 0.5rem 0;

  &:hover {
    background: $soft-green-light;
  }
}

#root {
  .content-wrapper {
    height: 100vh;

    #content {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }
}

.visibility-hidden {
  visibility: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-size {
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.fz-4 {
  font-size: $size4 !important;
}
.fz-8 {
  font-size: $size8 !important;
}
.fz-12 {
  font-size: $size12 !important;
}
.fz-16 {
  font-size: $size16 !important;
}
.fz-20 {
  font-size: $size20 !important;
}
.fz-24 {
  font-size: $size24 !important;
}
.fz-28 {
  font-size: $size28 !important;
}
.fz-32 {
  font-size: $size32 !important;
}
